

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/* ******************************************************
	CSS Slide Out Menu
*********************************************************/



.Exp-serach {
    position: absolute;
     width: 0%;
    min-width:50px;
    height: 55px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
	top:0;
	right:0;
}
.ExpInput {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-family: inherit;
    font-size:15px;
    height: 55px;
    margin: 0;
    outline: medium none;
    padding: 0 2%;
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
    z-index: 10;
}
 
input[type="search"].ExpInput {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.ExpInput::-webkit-input-placeholder {
    color: #c3c3c3;
}
 
.ExpInput:-moz-placeholder {
    color: #c3c3c3;
}
 
.ExpInput::-moz-placeholder {
    color: #c3c3c3;
}
 
.ExpInput:-ms-input-placeholder {
    color: #c3c3c3;
}

.ExpIcon,
.Expbtn  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.Expbtn {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    color:red;
    border: none;
    outline: none;
    z-index: -1;
}

.ExpIcon {
    color: #333;
    background: #fff url(../img/search.png) no-repeat 16px center;
    z-index: 90;
 /*   font-size: 22px;
    font-family: 'icomoon';*/
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
 
.ExpIcon:before {
    content: "";
}

.Exp-serach.Exp-serach-open,
.no-js .Exp-serach {
    width: 100%;
}

.Exp-serach.Exp-serach-open .ExpIcon,
.no-js .Exp-serach .ExpIcon {
   
    color: #333;
    z-index: 11;
}

.Exp-serach.Exp-serach-open .Expbtn,
.no-js .Exp-serach .Expbtn {
/*    z-index: 90;*/
}